# editorconfig tool configuration
# see http://editorconfig.org for docs

root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true

[*.md]
indent_style = tab

[*.sh]
indent_style = space
indent_size = 2

[*.yml]
indent_style = space
indent_size = 2

[*.template]
indent_style = space
indent_size = 4

[Dockerfile]
indent_style = space
indent_size = 4
