version: '2.1'
services:

  db:
    image: mariadb
    restart: always
    volumes:
      - db:/var/lib/mysql/
    environment:
      - MYSQL_RANDOM_ROOT_PASSWORD=yes
    env_file:
      - db.env

  redis:
    image: redis
    restart: always

  app:
    image: friendica/server:fpm
    restart: always
    volumes:
      - friendica:/var/www/html
    environment:
      - AUTOINSTALL=true
      - CACHE_DRIVER=redis
      - REDIS_HOST=redis
      - MAILNAME=
      - TZ=
      - LANGUAGE=
    env_file:
      - db.env
    depends_on:
      - db
    hostname: friendica.local

  cron:
    image: friendica/server:fpm
    restart: always
    volumes:
      - friendica:/var/www/html
    entrypoint: /cron.sh
    environment:
      - CACHE_DRIVER=redis
      - REDIS_HOST=redis
      - MAILNAME=
      - TZ=
      - LANGUAGE=
    env_file:
      - db.env
    depends_on:
      - db
      - app
    hostname: friendica.local

  web:
    image: nginx
    restart: always
    volumes:
      - friendica:/var/www/html:ro
      - ./web/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - app
    ports:
      - "80:80"

volumes:
  db:
  friendica: